.row-fluid{:class => "player #{current_player == player ? 'you' : ''}"}
  .span2
    .thumbnail
      %img{:src => player.gravatar_url(:size => 200)}
  .span10
    .row-fluid
      .span12
        %h3= "#{player.name} #{current_player == player ? '(You)' : ''}"
    .row-fluid
      .span5.statistics
        /Statistics go here
        .stat-group.win_percentage
          /.progress
          /  .bar{:style => "width:#{player.winning_percentage}"}
          /.label= "#{player.points} Points - wins #{player.winning_percentage} of the time"
          %h4= "Points: #{player.rating}"
      .span5.controls
        .btn-group
          - if current_player
            %a.btn.btn-large{:href => "/player/#{player.id}"}
              %i.icon-user
              View Profile
            - if current_player == player
              %a.btn.btn-large{:href => "/player/edit"}
                %i.icon-edit
                Edit Profile
            - if game = game_in_progress?(player)
              %a.enter_score.btn.btn-large.btn-large{:title => 'Enter Score', :"data-challenge-id" => game.id, :href => "#"}
                %i.icon-plus-sign
                Enter Score
            - elsif player != current_player
              %a.challenge.btn.btn-large{:"data-player-id" => player.id, :href => "#"}
                %i.icon-screenshot
                Challenge
          - else
            &nbsp;
      .span2
        .label.label-important.ranking= player.ranking

