.row-fluid.player
  .span2
    .thumbnail
      %img{:src => player.gravatar_url(:size => 200)}
  .span10
    .row-fluid
      .span12
        %h3= player.name
    .row-fluid
      .span6
        /Statistics go here
        .stat-group.win_percentage
          .progress
            .bar{:style => "width:#{player.winning_percentage}"}
          .label= "Wins #{player.winning_percentage} of the time"
      .span4
        .btn-group.controls
          %a.btn.btn-large{:href => "/player/#{player.id}"}
            %i.icon-user
            View Profile
          - if current_player == player
            %a.btn.btn-large{:href => "/player/#{player.id}/edit"}
              %i.icon-edit
              Edit Profile
          - else
            - if challenge = player.in_progress_challenges(current_player).first
              %a.enter_score.btn.btn-large.btn-large{:title => 'Enter Score', :"data-challenge-id" => challenge.id, :href => "#"}
                %i.icon-plus-sign
                Enter Score
            - else
              %a.challenge.btn.btn-large{:"data-player-id" => player.id, :href => "#"}
                %i.icon-screenshot
                Challenge
      .span2
        .label.label-important.ranking= player.ranking

