.row-fluid.player_show
  .span12.info
    .thumbnail.player_avatar
      %img{:src => @player.gravatar_url}
    .player_name
      %h1= @player.name
      %a.player_email{:href => "mailto:#{@player.email}"}
        %i.icon-envelope
        = @player.email
    .clearfix

%section#stats
  .row-fluid
    - if @player.games.empty?
      .span12
        .alert.alert-info
          %i.icon-info-sign
          This player hasn't yet competed.
    .span4
      .thumbnail
        %h1= @player.rating
        .caption
          .label.label-success Points
    .span4
      .thumbnail.hidden-phone
        %h1= @player.challenger_games.length
        .caption
          .label.label-success Initiated Games
    .span4
      .thumbnail.hidden-phone
        %h1= @player.challenged_games.length
        .caption
          .label.label-success Defended Challenges

%h2 Games
%hr
#games
  - @player.games.select { |c| c.complete? }.each do |game|
    - game.reload
    = haml(:"games/game_row", :locals => {:game => game})

