.page-header
  .row
    .thumbnail.span1
      %img{:src => @player.gravatar_url}
    .span10.player.name
      %h1= @player.name
      %a.player.email{:href => "mailto:#{@player.email}"}
        %i.icon-envelope
        = @player.email

%section#stats
  - if @player.challenges.empty?
    .alert.alert-info
      %i.icon-info-sign
      This player hasn't yet competed.
  .row
    .span4
      .thumbnail
        %h1= @player.winning_percentage
        .caption
          .label.label-success Winning Percentage
    .span4
      .thumbnail
        %h1= @player.initiated_challenges.length
        .caption
          .label.label-success Initiated Challenges
    .span4
      .thumbnail
        %h1= @player.challenged_challenges.length
        .caption
          .label.label-success Defended Challenges

%h2 Challenges
%hr
#challenges
  - @player.challenges.select { |c| c.completed? }.each do |challenge|
    - challenge.reload
    = haml(:"challenges/challenge_row", :locals => {:challenge => challenge})

