<%= form_for @game, :url => game_score_path(@game), :method => :post, :remote => true do |f| %>
  <div class="modal">
    <div class="modal-header">
      <h3><%= I18n.t('score.new.heading') %></h3>
    </div>

    <div class="modal-body">

      <div class="control-group"></div>
      <div class="row-fluid">
        <div class="span5">
          <div class="thumbnail">
            <%= image_tag @game.challenger.gravatar_url(:size => '200') %>
          </div>
          <h3><%= @game.challenger.name %></h3>
          <div class="control-group">
            <%= f.number_field :challenger_score %>
          </div>
        </div>

        <div class="span2">
          <h1 class="vs">vs.</h1>
        </div>

        <div class="span5">
          <div class="thumbnail">
            <%= image_tag @game.challenged.gravatar_url(:size => '200') %>
          </div>
          <h3><%= @game.challenged.name %></h3>
          <div class="control-group">
            <%= f.number_field :challenged_score %>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <%= f.submit I18n.t('score.new.submit'),
        :class => 'btn btn-with-loading btn-primary',
        :data => {:disable_with => I18n.t('score.new.submit_loading')}
      %>
    </div>
  </div>
<% end %>
