<% content_for :flashes do %>
  &nbsp;
<% end %>

<div class="row">
    <div class="span4 offset4 well">
      <legend><%= I18n.t('devise.passwords.new.heading') %></legend>
      <%= render :partial => 'layouts/common/flashes' %>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

        <%= f.email_field :email, 
        :class => 'span12', 
        :placeholder => I18n.t('activerecord.attributes.player.email') 
        %>

        <%= f.submit I18n.t('devise.passwords.new.submit_button'), :class => 'span12 btn btn-primary btn-block' %>
      <% end %>
    </div>
</div>
