<% content_for :flashes do %>
  &nbsp;
<% end %>

<div class="row">
    <div class="span4 offset4 well">
      <legend><%= I18n.t('sessions.new.heading') %></legend>
      <%= render :partial => 'layouts/common/flashes' %>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <%= f.email_field :email, 
        :class => 'span12', 
        :placeholder => I18n.t('activerecord.attributes.player.email') 
        %>

        <%= f.password_field :password, 
        :class => 'span12',
        :placeholder => I18n.t('activerecord.attributes.player.password') 
        %>

        <% if devise_mapping.rememberable? -%>
          <%= f.label :remember_me, :class => 'checkbox' do %>
            <%= f.check_box :remember_me %>
            Remember Me
          <% end %>
        <% end -%>

        <%= f.submit I18n.t('sessions.new.submit_button'), :class => 'span12 btn btn-primary btn-block' %>
      <% end %>

      <hr />
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to I18n.t('devise.links.forgot_password'), new_password_path(resource_name) %><br />
      <% end -%>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to I18n.t('devise.links.resend_confirmation'), new_confirmation_path(resource_name) %><br />
      <% end -%>
    </div>
</div>
