<% content_for :sidebar do %>
<div class="alert alert-info maori-banner">
  <h3 class="alert-heading">3months Te Reo Week</h3>

  <p>
    Pōwhiri te Latter! This week, the default language will be in Maori. You can 
    still switch back to English if you really need it, but by default, messages, buttons
    and other text will appear in Te Reo.
  </p>

  <p>
    Got ideas for other accessibility or language improvements we can make? <br />
    Talk to Josh!
  </p>
</div>
<% end %>

<div class="player_sign_in well">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <legend><%= I18n.t('sessions.new.heading') %></legend>

      <div class="control-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me, :class => 'checkbox' do %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end %>
      <% end -%>

      <div class="form-actions">
        <%= f.submit I18n.t('sessions.new.submit_button'), :class => 'btn btn-primary' %>
      </div>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to I18n.t('devise.links.forgot_password'), new_password_path(resource_name) %><br />
      <% end -%>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to I18n.t('devise.links.resend_confirmation'), new_confirmation_path(resource_name) %><br />
      <% end -%>
    </fieldset>
  <% end %>
</div>
