<fieldset>
  <legend><%= form.object.new_record? ? I18n.t('player.new.heading') : I18n.t('player.edit.heading') %></legend>

  <%= render :partial => 'shared/form_errors', :locals => {:form => form} %>

  <div class="control-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="control-group">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <% unless form.object.new_record? %>
    <div class="control-group">
      <%= form.label :authentication_token %>
      <div class="input-append">
        <%= form.text_field :authentication_token, :disabled => 'disabled' %>
        <%= link_to 'Manage', player_authentication_token_path(form.object), :class => 'btn' %>
      </div>
    </div>
    <div class="control-group">
      <%= form.label :wants_challenge_completed_notifications, :class => 'checkbox' do %>
        <%= form.check_box :wants_challenge_completed_notifications %>
        <%= I18n.t('player.attributes.wants_challenge_completed_notifications') %>
      <% end %>
      <span class="help-block">
        <%= I18n.t('player.attributes.wants_challenge_completed_notifications_help') %>
      </span>
    </div>

    <div class="control-group">
      <%= form.label :password, I18n.t('player.attributes.new_password') %>
      <%= form.password_field :password, :autocomplete => 'off' %>
      <span class="help-block"><%= I18n.t('player.attributes.password_help') %></span>
    </div>

    <div class="control-group">
      <%= form.label :password_confirmation, I18n.t('player.attributes.confirm_new_password') %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="control-group success">
      <%= form.label :current_password, I18n.t('player.attributes.current_password') %>
      <%= form.password_field :current_password %>
      <span class="help-block"><%= I18n.t('player.attributes.current_password_help') %></span>
    </div>
  <% end %>

  <div class="form-actions">
    <%= form.submit I18n.t('player.form.save'), :class => 'btn btn-primary' %>
    <%= link_to I18n.t('player.form.cancel'), root_path, :class => 'btn' %>
  </div>
</fieldset>
