<fieldset>
  <legend><%= form.object.new_record? ? "New Player" : "Edit Player" %></legend>

  <%= render :partial => 'shared/form_errors', :locals => {:form => form} %>

  <div class="control-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="control-group">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>


  <div class="form-actions">
    <%= form.submit "Save Player", :class => 'btn btn-primary' %>
  </div>
</fieldset>
