<% cache cache_key_for(player, "listing-#{current_player ? 'logged-in' : 'anonymous'}") do %>
  <div class="row-fluid player" id="<%= dom_id(player) %>">
    <div class="span2">
      <div class="thumbnail">
        <%= image_tag player.gravatar_url(:size => 200), :size => '200x113' %>
      </div>
    </div>

    <div class="span10">
      <h3><%= player.name %></h3>

      <div class="row-fluid data_and_actions">
        <div class="span5 points_display">
          <h4><%= I18n.t('player.points', :points => player.rating) %></h4>
        </div>
        <div class="span5 controls">
          <% if current_player %>
            <div class="btn-group">
              <%= link_to player, :class => 'btn btn-large' do %>
                <i class='icon-user'></i>
                <%= I18n.t('player.view') %>
              <% end %>
              <%= primary_action_button_for(player) %>
            </div>
          <% end %>
        </div>
        <div class="span2 ranking_display">
          <%= ranking(player) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

