<% cache player do %>
  <div class="row-fluid player" id="<%= dom_id(player) %>" data-rating="<%= player.rating %>">
    <div class="span2">
      <div class="thumbnail">
        <%= image_tag player.gravatar_url(:size => 200) %>
      </div>
    </div>

    <div class="span10">
      <h3><%= player.name %></h3>

      <div class="row-fluid data_and_actions">
        <div class="span5 points_display">
          <h4><%= I18n.t('player.points', :points => player.rating) %></h4>
        </div>
        <div class="span5 controls">
          <%= render :partial => 'players/controls', :locals => {:player => player} %>
        </div>
        <div class="span2 ranking_display">
          <%= ranking(player) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
