<div class="show_player">
    <div>
      <div class="thumbnail avatar pull-left">
        <%= image_tag @player.gravatar_url %>
      </div>

      <div class="name pull-left">
        <h1><%= @player.name %></h1>
        <%= link_to "mailto:#{@player.email}" do %>
          <i class="icon-envelope"></i>
          <%= @player.email %>
        <% end %>
      </div>

      <div class="clearfix"></div>
  </div>


  <div class="page-header">
    <h2>
      Last 20 Games
      <small><%= distance_of_last_game_for(@player) %></small>
    </h2>
  </div>

  <div id="games">
    <%= render @player.games.limit(20) %>
  </div>
</div>

